@import "tailwindcss";
@plugin "daisyui";

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  color-scheme: light dark;
  background-color: #262626;
  /* color: rgba(255, 255, 255, 0.87); */
}
